@font-face {
    font-family: "vazir";
    src: url(fonts/Vazir-Medium-FD.ttf);
}
@font-face {
    font-family:"EduTASBeginner";
    src: url(fonts/EduTASBeginner-Medium.ttf);
}
@font-face {
    font-family:"shabnam";
    src: url(fonts/Shabnam-Light-FD.ttf);
}
/* Default light mode*/
:root{
    --navbar-color: white;
    --primary-color: white;
    --primary-color-2: rgb(250,250,250);
    --primary-color-3: rgb(181,181,181);
    --background-color: rgb(255,255,255);
    --secondary-color: black;
    --secondary-color-2: rgb(85,85,85);
    --button-background: rgb(53,53,53);
    --button-text-hover: gray;
    --button-border: rgb(53,53,53) 0.1rem solid;
    --button-border-2: rgb(255,255,255) 0.1rem solid;
    --container-border: rgb(163,163,163) 0.1rem solid;
}
/* Dark mode */
[theme="dark"]{
    --navbar-color:rgb(33,33,33);
    --primary-color: black;
    --primary-color-2: rgb(39,39,39);
    --primary-color-3: rgb(74,74,74);
    --background-color: rgb(33,33,33);
    --secondary-color: white;
    --secondary-color-2: rgb(170,170,170);
    --button-background: rgb(202,202,202);
    --button-text-hover: lightgray;
    --button-border: rgb(202,202,202) 0.1rem solid;
    --button-border-2: rgb(0,0,0) 0.1rem solid;
    --container-border: rgb(92,92,92) 0.1rem solid;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
body{
    font-family:"vazir", sans-serif ;
    background-color: var(--background-color);
}
html{
    scroll-behavior: smooth;
}
h3{
    color: var(--secondary-color);
}
p{
    color: var(--secondary-color-2);

}
a,.btn{
    transition: all 400ms ease;
}
/* desktop nav */


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 2rem 9%;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
}
.logo{
    position: relative;
    font-family: "EduTASBeginner";
    color: var(--secondary-color-2) ;
    font-size: 1.8rem;
    font-weight: 600;
}
.logo:hover{
    cursor: default;

}
.navbar{
    position: relative;
    
}
.navbar img{
    margin: 0 2rem;
}

.navbar a{
    font-size: 1.2rem;
    color: var(--secondary-color-2);
    font-weight: 500;
    margin-left: 1.5rem;
}
.navbar a:hover,
.navbar a.active{

    color: var(--secondary-color);
}
#menu-icon{
    position: relative;
    font-size: 2.6rem;
    cursor: pointer;
    display: none;
    color: var(--secondary-color);
}

/* section */

section{
    padding-top: 10vh ;
    height: 90vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}

/* profile section */

#profile{

    display: flex;
    justify-content: center;
    gap: 5rem;
}
.section__pic-container{
    z-index: 1;
    display: flex;
    height: 350px;
    width: 350px;
    margin: auto 0;
}
.section__pic-container img{
    z-index: 0;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: flow 2s ease-in-out infinite alternate;
}
.section__pic-container-about{
    display: flex;
    height: 350px;
    width: 350px;
    margin: auto 0;
}
.section__pic-container-about img{

    border-radius: 6rem;
}
.section__text{
    align-self: center;
    text-align: center;
}
.section__text p{
    font-size: 1.4rem;
    font-weight: 600;

}
.section__text__p1{
    text-align: center;
}
.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title{
    color: var(--secondary-color);
    font-size: 3rem;
    text-align: center;
}
#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* icons */

.icon{
    cursor: pointer;
    height: 2rem;
}

/* buttons */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.7rem;
    width: 7rem;
    border-radius: 2rem;
}

.btn-color-1 , .btn-color-2{

    border: var(--button-border);
    color: var(--secondary-color-2);

}

.btn-color-1 , .btn-color-2:hover{

    background: var(--button-background);
    color: var(--primary-color);
}
.btn-color-1:hover{
    background: var(--secondary-color);
}
.btn-color-2{
    background: none;
}
.btn-color-2:hover{
    border: var(--button-border);
    background:var(--secondary-color);
}
.btn-container{
    gap: 1rem;
}
/* about section */

#about {
    position: relative;
}
.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container{

    justify-content: center;
    flex-direction: column;
}
.about-containers, .about-details-container {

    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.arrow{
    position: absolute;

    right: -5rem;
    bottom: 2.5rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background: var(--primary-color);
    border-radius: 2rem;
    border: var(--button-border) ;
    border-color: var(--container-border);
    text-align: center;
}
.details-container:hover{

    background-color: rgba(167, 174, 206, 0.5);

    transition: all 0.4s ease-in-out;
}
.section-container{

    gap: 4rem;
    height: 80%;

}
.text-container > p{

    font-family:"shabnam" ;
    font-weight: 300;
}
#experience{
    position: relative;
}
.experience-sub-title{
    color: var(--secondary-color);

    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
article{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    gap: 0.5rem;
}
article .icon{
    cursor: default;
}
.article-container article div{

    direction: rtl;
}
#projects{
    position: relative;
}
.color-container{

    border-color: var(--container-border);
    background: var(--primary-color-2);
}
.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
.project-title{
    margin: 1rem;
    color: var(--secondary-color);
}
.project-btn{
    color: var(--secondary-color);
    border-color: var(--container-border);
}
/* contact */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: var(--button-border);
    border-color: var(--container-border);
    background: var(--background-color);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-info-container p{
    font-size: large;
}
.contact-icon{
    cursor: default;
    height: 3rem;
}
.email-icon{
    height: 2.5rem;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgb(40, 40, 40)
}
.footer-text p{
    font-family: "Nunito";
    font-size: 1.1rem;
}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    background: rgb(40, 40, 40);
    border: .1rem solid white;
    border-radius: .4rem;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}
.footer-iconTop a:hover i{
    color: black;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    border-radius: .4rem;
    z-index: -1;
    transition: 0.5s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i{
    font-size: 1.4rem;
    color: white;
}
